.product {
    //border: 1px solid black;
    padding: 0 30px;
}

.product .image-wrapper {
    height: 180px;
    width: 150px;
    margin: 0 auto;
}

.image-wrapper img {
    height: 100%;
}
.product-name {
    line-height: 15px;
}

.product-price {
    font: 700 18px/18px Ubuntu,sans-serif;
    color: #f6690e;
    margin-top: 26px;
}

.product .product-buy-button {
    display: block;
    margin: 10px 0;
    border-radius: 3px;
    text-align: center;
    line-height: 32px;
    background: #1c88bf;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
}