.app {
    display: grid;
    grid-template-areas: "sb mn mn mn mn mn";
}
aside {
    grid-area: sb;
    margin-left: 200px;
    margin-top: 55px;
}
main > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-auto-rows: 350px;
    grid-gap: 20px;
}
main {
    grid-area: mn;
    margin-right: 200px;
    padding-bottom: 50px;
}
.products-banner {
    grid-column: 1 / -1;
    margin-left: 25px;
}

/* sticky footer - check for another solution */
body {
    position: relative;
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

html {
    height: 100%;
    // fix shifting menu items on scroll show  
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}


.page-title {
    background: #f7f7f7;
    margin-bottom: 32px;
    padding: 32px 0;
}

.content-container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 800px;
}